services:
  verifier:
    build:
      context: .
      dockerfile: ./images/verifier.dockerfile
    container_name: verifier
    hostname: verifier
    entrypoint: ["verifier", "server", "start", "--config-dir", "scripts", "--config-file", "verifier-config-cloud.json"]
    ports:
      - 7676:7676
    healthcheck:
      test:
          - CMD
          - wget
          - --spider
          - --quiet
          - http://127.0.0.1:7676/health
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 20s

  deps:
    image: alpine
    command: ['echo', 'Dependencies running']
    depends_on:
        verifier:
            condition: service_healthy